In [1]:
import requests
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd

In [2]:
stdbatting = requests.get('https://www.baseball-reference.com/leagues/majors/2021-standard-batting.shtml')

In [3]:
stdbatting

In [4]:
type(stdbatting)

requests.models.Response

In [5]:
stdbat_stats_soup = BeautifulSoup(stdbatting.text)

In [6]:
htmlstd = stdbat_stats_soup.select("#teams_standard_batting .center , #teams_standard_batting .left, #teams_standard_batting .right")

In [7]:
hitting_table_elements = []
for element in htmlstd:
    hitting_table_elements.append(element.text)
print(hitting_table_elements)

['#Bat', 'BatAge', 'R/G', 'G', 'PA', 'AB', 'R', 'H', '2B', '3B', 'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'BA', 'OBP', 'SLG', 'OPS', 'OPS+', 'TB', 'GDP', 'HBP', 'SH', 'SF', 'IBB', 'LOB', '#Bat', 'BatAge', 'R/G', 'G', 'PA', 'AB', 'R', 'H', '2B', '3B', 'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'BA', 'OBP', 'SLG', 'OPS', 'OPS+', 'TB', 'GDP', 'HBP', 'SH', 'SF', 'IBB', 'LOB', 'Tm', 'Arizona Diamondbacks', 'Atlanta Braves', 'Baltimore Orioles', 'Boston Red Sox', 'Chicago Cubs', 'Chicago White Sox', 'Cincinnati Reds', 'Cleveland Indians', 'Colorado Rockies', 'Detroit Tigers', 'Houston Astros', 'Kansas City Royals', 'Los Angeles Angels', 'Los Angeles Dodgers', 'Miami Marlins', 'Milwaukee Brewers', 'Minnesota Twins', 'New York Mets', 'New York Yankees', 'Oakland Athletics', 'Philadelphia Phillies', 'Pittsburgh Pirates', 'San Diego Padres', 'Seattle Mariners', 'San Francisco Giants', 'St. Louis Cardinals', 'Tampa Bay Rays', 'Texas Rangers', 'Toronto Blue Jays', 'Washington Nationals', 'League Average', '', 'Tm', '64', '28.9', '4.19', '162', '6144', '5489', '679', '1297', '308', '31', '144', '644', '43', '16', '537', '1465', '.236', '.309', '.382', '.692', '87', '2099', '99', '54', '32', '28', '24', '1152', '56', '28.2', '4.91', '161', '6056', '5363', '790', '1307', '269', '20', '239', '762', '59', '19', '549', '1453', '.244', '.319', '.435', '.754', '96', '2333', '81', '67', '32', '43', '36', '1072', '62', '26.7', '4.07', '162', '5983', '5420', '659', '1296', '266', '15', '195', '632', '54', '23', '451', '1454', '.239', '.304', '.402', '.705', '92', '2177', '105', '65', '14', '31', '12', '1046', '56', '28.0', '5.12', '162', '6122', '5495', '829', '1434', '330', '23', '219', '783', '40', '21', '512', '1386', '.261', '.328', '.449', '.777', '104', '2467', '100', '61', '10', '42', '22', '1093', '69', '29.1', '4.35', '162', '5972', '5306', '705', '1255', '225', '26', '210', '672', '86', '37', '502', '1596', '.237', '.312', '.407', '.719', '93', '2162', '133', '92', '40', '30', '17', '1019', '47', '28.0', '4.91', '162', '6084', '5357', '796', '1373', '275', '22', '190', '757', '57', '20', '586', '1389', '.256', '.336', '.422', '.758', '106', '2262', '139', '78', '24', '39', '10', '1125', '55', '28.9', '4.85', '162', '6162', '5423', '786', '1352', '295', '13', '222', '756', '36', '24', '553', '1425', '.249', '.328', '.431', '.759', '94', '2339', '129', '105', '35', '45', '22', '1110', '48', '26.7', '4.43', '162', '5907', '5332', '717', '1269', '248', '22', '203', '686', '109', '17', '453', '1387', '.238', '.303', '.407', '.710', '94', '2170', '105', '64', '20', '36', '18', '987', '45', '28.1', '4.59', '161', '6007', '5374', '739', '1338', '275', '34', '182', '709', '76', '23', '491', '1356', '.249', '.317', '.414', '.731', '87', '2227', '98', '58', '48', '36', '24', '1074', '49', '28.1', '4.30', '162', '5979', '5376', '697', '1299', '236', '37', '179', '675', '88', '25', '490', '1514', '.242', '.308', '.399', '.707', '95', '2146', '113', '44', '17', '50', '8', '1031', '52', '28.9', '5.33', '162', '6291', '5593', '863', '1496', '299', '14', '221', '834', '53', '16', '569', '1222', '.267', '.339', '.444', '.783', '113', '2486', '136', '64', '9', '54', '25', '1159', '48', '29.3', '4.23', '162', '5993', '5427', '686', '1349', '251', '29', '163', '647', '124', '33', '421', '1258', '.249', '.306', '.396', '.702', '90', '2147', '100', '55', '31', '52', '8', '1050', '64', '29.2', '4.46', '162', '6016', '5437', '723', '1331', '265', '23', '190', '691', '79', '26', '464', '1394', '.245', '.310', '.407', '.717', '94', '2212', '107', '59', '30', '25', '35', '1029', '61', '29.2', '5.12', '162', '6239', '5445', '830', '1330', '247', '24', '237', '799', '65', '17', '613', '1408', '.244', '.330', '.429', '.759', '101', '2336', '96', '104', '32', '45', '36', '1169', '61', '28.2', '3.85', '162', '5929', '5348', '623', '1244', '226', '23', '158', '594', '106', '29', '450', '1553', '.233', '.298', '.372', '.671', '81', '1990', '95', '65', '30', '30', '25', '1042', '61', '28.7', '4.56', '162', '6099', '5362', '738', '1251', '255', '18', '194', '700', '82', '21', '586', '1465', '.233', '.317', '.396', '.713', '91', '2124', '102', '88', '25', '35', '26', '1113', '57', '28.3', '4.50', '162', '6078', '5431', '729', '1311', '271', '17', '228', '690', '54', '15', '525', '1405', '.241', '.314', '.423', '.738', '104', '2300', '122', '70', '7', '42', '17', '1092', '64', '28.2', '3.93', '162', '5856', '5210', '636', '1243', '228', '18', '176', '604', '54', '26', '495', '1392', '.239', '.315', '.391', '.705', '92', '2035', '123', '94', '34', '23', '25', '1099', '59', '29.3', '4.39', '162', '6060', '5331', '711', '1266', '213', '12', '222', '666', '63', '18', '621', '1482', '.237', '.322', '.407', '.729', '101', '2169', '154', '63', '10', '34', '14', '1097', '50', '30.1', '4.59', '162', '6104', '5395', '743', '1284', '271', '19', '199', '698', '88', '20', '545', '1349', '.238', '.317', '.406', '.723', '103', '2190', '99', '98', '17', '49', '17', '1084', '55', '29.1', '4.53', '162', '6089', '5366', '734', '1288', '262', '24', '198', '700', '77', '19', '564', '1402', '.240', '.318', '.408', '.726', '95', '2192', '103', '67', '47', '43', '37', '1115', '64', '27.5', '3.76', '162', '5983', '5336', '609', '1261', '240', '35', '124', '570', '60', '30', '529', '1328', '.236', '.309', '.364', '.673', '82', '1943', '102', '49', '31', '37', '24', '1128', '54', '28.0', '4.50', '162', '6119', '5384', '729', '1305', '273', '21', '180', '695', '110', '39', '586', '1324', '.242', '.321', '.401', '.722', '101', '2160', '121', '61', '36', '46', '42', '1123', '63', '27.0', '4.30', '162', '6010', '5355', '697', '1209', '233', '11', '199', '673', '64', '24', '535', '1492', '.226', '.303', '.385', '.688', '92', '2061', '92', '72', '9', '36', '8', '1040', '54', '30.6', '4.96', '162', '6196', '5462', '804', '1360', '271', '25', '241', '768', '66', '14', '602', '1461', '.249', '.329', '.440', '.769', '106', '2404', '117', '64', '36', '30', '45', '1138', '51', '28.5', '4.36', '162', '6001', '5351', '706', '1303', '261', '22', '198', '678', '89', '22', '478', '1341', '.244', '.313', '.412', '.725', '99', '2202', '99', '86', '40', '44', '32', '1081', '61', '27.7', '5.29', '162', '6213', '5507', '857', '1336', '288', '36', '222', '810', '88', '42', '585', '1542', '.243', '.321', '.429', '.750', '110', '2362', '75', '72', '6', '41', '27', '1085', '54', '26.8', '3.86', '162', '5943', '5405', '625', '1254', '225', '24', '167', '598', '106', '29', '433', '1381', '.232', '.294', '.375', '.670', '83', '2028', '113', '58', '16', '31', '10', '1007', '62', '26.8', '5.22', '162', '6070', '5476', '846', '1455', '285', '13', '262', '816', '81', '20', '496', '1218', '.266', '.330', '.466', '.797', '113', '2552', '112', '51', '10', '35', '14', '1056', '60', '28.7', '4.47', '162', '6113', '5385', '724', '1388', '272', '20', '182', '686', '56', '26', '573', '1303', '.258', '.337', '.417', '.754', '108', '2246', '158', '84', '38', '31', '43', '1185', '50', '28.4', '4.53', '162', '6061', '5398', '734', '1316', '262', '22', '198', '700', '74', '24', '526', '1405', '.244', '.317', '.411', '.728', '97', '2217', '111', '70', '26', '38', '23', '1087', '1508', '28.4', '4.53', '4858', '181818', '161941', '22010', '39484', '7863', '671', '5944', '20993', '2213', '711', '15794', '42145', '.244', '.317', '.411', '.728', '97', '66521', '3328', '2112', '766', '1143', '703', '32601']

In [8]:
len(hitting_table_elements)

986

In [9]:
hitting_table_elements

['#Bat',
 'BatAge',
 'R/G',
 'G',
 'PA',
 'AB',
 'R',
 'H',
 '2B',
 '3B',
 'HR',
 'RBI',
 'SB',
 'CS',
 'BB',
 'SO',
 'BA',
 'OBP',
 'SLG',
 'OPS',
 'OPS+',
 'TB',
 'GDP',
 'HBP',
 'SH',
 'SF',
 'IBB',
 'LOB',
 '#Bat',
 'BatAge',
 'R/G',
 'G',
 'PA',
 'AB',
 'R',
 'H',
 '2B',
 '3B',
 'HR',
 'RBI',
 'SB',
 'CS',
 'BB',
 'SO',
 'BA',
 'OBP',
 'SLG',
 'OPS',
 'OPS+',
 'TB',
 'GDP',
 'HBP',
 'SH',
 'SF',
 'IBB',
 'LOB',
 'Tm',
 'Arizona Diamondbacks',
 'Atlanta Braves',
 'Baltimore Orioles',
 'Boston Red Sox',
 'Chicago Cubs',
 'Chicago White Sox',
 'Cincinnati Reds',
 'Cleveland Indians',
 'Colorado Rockies',
 'Detroit Tigers',
 'Houston Astros',
 'Kansas City Royals',
 'Los Angeles Angels',
 'Los Angeles Dodgers',
 'Miami Marlins',
 'Milwaukee Brewers',
 'Minnesota Twins',
 'New York Mets',
 'New York Yankees',
 'Oakland Athletics',
 'Philadelphia Phillies',
 'Pittsburgh Pirates',
 'San Diego Padres',
 'Seattle Mariners',
 'San Francisco Giants',
 'St. Louis Cardinals',
 'Tampa Bay Rays',
 'Texas Rangers',
 'Toronto Blue Jays',
 'Washington Nationals',
 'League Average',
 '',
 'Tm',
 '64',
 '28.9',
 '4.19',
 '162',
 '6144',
 '5489',
 '679',
 '1297',
 '308',
 '31',
 '144',
 '644',
 '43',
 '16',
 '537',
 '1465',
 '.236',
 '.309',
 '.382',
 '.692',
 '87',
 '2099',
 '99',
 '54',
 '32',
 '28',
 '24',
 '1152',
 '56',
 '28.2',
 '4.91',
 '161',
 '6056',
 '5363',
 '790',
 '1307',
 '269',
 '20',
 '239',
 '762',
 '59',
 '19',
 '549',
 '1453',
 '.244',
 '.319',
 '.435',
 '.754',
 '96',
 '2333',
 '81',
 '67',
 '32',
 '43',
 '36',
 '1072',
 '62',
 '26.7',
 '4.07',
 '162',
 '5983',
 '5420',
 '659',
 '1296',
 '266',
 '15',
 '195',
 '632',
 '54',
 '23',
 '451',
 '1454',
 '.239',
 '.304',
 '.402',
 '.705',
 '92',
 '2177',
 '105',
 '65',
 '14',
 '31',
 '12',
 '1046',
 '56',
 '28.0',
 '5.12',
 '162',
 '6122',
 '5495',
 '829',
 '1434',
 '330',
 '23',
 '219',
 '783',
 '40',
 '21',
 '512',
 '1386',
 '.261',
 '.328',
 '.449',
 '.777',
 '104',
 '2467',
 '100',
 '61',
 '10',
 '42',
 '22',
 '1093',
 '69',
 '29.1',
 '4.35',
 '162',
 '5972',
 '5306',
 '705',
 '1255',
 '225',
 '26',
 '210',
 '672',
 '86',
 '37',
 '502',
 '1596',
 '.237',
 '.312',
 '.407',
 '.719',
 '93',
 '2162',
 '133',
 '92',
 '40',
 '30',
 '17',
 '1019',
 '47',
 '28.0',
 '4.91',
 '162',
 '6084',
 '5357',
 '796',
 '1373',
 '275',
 '22',
 '190',
 '757',
 '57',
 '20',
 '586',
 '1389',
 '.256',
 '.336',
 '.422',
 '.758',
 '106',
 '2262',
 '139',
 '78',
 '24',
 '39',
 '10',
 '1125',
 '55',
 '28.9',
 '4.85',
 '162',
 '6162',
 '5423',
 '786',
 '1352',
 '295',
 '13',
 '222',
 '756',
 '36',
 '24',
 '553',
 '1425',
 '.249',
 '.328',
 '.431',
 '.759',
 '94',
 '2339',
 '129',
 '105',
 '35',
 '45',
 '22',
 '1110',
 '48',
 '26.7',
 '4.43',
 '162',
 '5907',
 '5332',
 '717',
 '1269',
 '248',
 '22',
 '203',
 '686',
 '109',
 '17',
 '453',
 '1387',
 '.238',
 '.303',
 '.407',
 '.710',
 '94',
 '2170',
 '105',
 '64',
 '20',
 '36',
 '18',
 '987',
 '45',
 '28.1',
 '4.59',
 '161',
 '6007',
 '5374',
 '739',
 '1338',
 '275',
 '34',
 '182',
 '709',
 '76',
 '23',
 '491',
 '1356',
 '.249',
 '.317',
 '.414',
 '.731',
 '87',
 '2227',
 '98',
 '58',
 '48',
 '36',
 '24',
 '1074',
 '49',
 '28.1',
 '4.30',
 '162',
 '5979',
 '5376',
 '697',
 '1299',
 '236',
 '37',
 '179',
 '675',
 '88',
 '25',
 '490',
 '1514',
 '.242',
 '.308',
 '.399',
 '.707',
 '95',
 '2146',
 '113',
 '44',
 '17',
 '50',
 '8',
 '1031',
 '52',
 '28.9',
 '5.33',
 '162',
 '6291',
 '5593',
 '863',
 '1496',
 '299',
 '14',
 '221',
 '834',
 '53',
 '16',
 '569',
 '1222',
 '.267',
 '.339',
 '.444',
 '.783',
 '113',
 '2486',
 '136',
 '64',
 '9',
 '54',
 '25',
 '1159',
 '48',
 '29.3',
 '4.23',
 '162',
 '5993',
 '5427',
 '686',
 '1349',
 '251',
 '29',
 '163',
 '647',
 '124',
 '33',
 '421',
 '1258',
 '.249',
 '.306',
 '.396',
 '.702',
 '90',
 '2147',
 '100',
 '55',
 '31',
 '52',
 '8',
 '1050',
 '64',
 '29.2',
 '4.46',
 '162',
 '6016',
 '5437',
 '723',
 '1331',
 '265',
 '23',
 '190',
 '691',
 '79',
 '26',
 '464',
 '1394',
 '.245',
 '.310',
 '.407',
 '.717',
 '94',
 '2212',
 '107',
 '59',
 '30',
 '25',
 '35',
 '1029',
 '61',
 '29.2',
 '5.12',
 '162',
 '6239',
 '5445',
 '830',
 '1330',
 '247',
 '24',
 '237',
 '799',
 '65',
 '17',
 '613',
 '1408',
 '.244',
 '.330',
 '.429',
 '.759',
 '101',
 '2336',
 '96',
 '104',
 '32',
 '45',
 '36',
 '1169',
 '61',
 '28.2',
 '3.85',
 '162',
 '5929',
 '5348',
 '623',
 '1244',
 '226',
 '23',
 '158',
 '594',
 '106',
 '29',
 '450',
 '1553',
 '.233',
 '.298',
 '.372',
 '.671',
 '81',
 '1990',
 '95',
 '65',
 '30',
 '30',
 '25',
 '1042',
 '61',
 '28.7',
 '4.56',
 '162',
 '6099',
 '5362',
 '738',
 '1251',
 '255',
 '18',
 '194',
 '700',
 '82',
 '21',
 '586',
 '1465',
 '.233',
 '.317',
 '.396',
 '.713',
 '91',
 '2124',
 '102',
 '88',
 '25',
 '35',
 '26',
 '1113',
 '57',
 '28.3',
 '4.50',
 '162',
 '6078',
 '5431',
 '729',
 '1311',
 '271',
 '17',
 '228',
 '690',
 '54',
 '15',
 '525',
 '1405',
 '.241',
 '.314',
 '.423',
 '.738',
 '104',
 '2300',
 '122',
 '70',
 '7',
 '42',
 '17',
 '1092',
 '64',
 '28.2',
 '3.93',
 '162',
 '5856',
 '5210',
 '636',
 '1243',
 '228',
 '18',
 '176',
 '604',
 '54',
 '26',
 '495',
 '1392',
 '.239',
 '.315',
 '.391',
 '.705',
 '92',
 '2035',
 '123',
 '94',
 '34',
 '23',
 '25',
 '1099',
 '59',
 '29.3',
 '4.39',
 '162',
 '6060',
 '5331',
 '711',
 '1266',
 '213',
 '12',
 '222',
 '666',
 '63',
 '18',
 '621',
 '1482',
 '.237',
 '.322',
 '.407',
 '.729',
 '101',
 '2169',
 '154',
 '63',
 '10',
 '34',
 '14',
 '1097',
 '50',
 '30.1',
 '4.59',
 '162',
 '6104',
 '5395',
 '743',
 '1284',
 '271',
 '19',
 '199',
 '698',
 '88',
 '20',
 '545',
 '1349',
 '.238',
 '.317',
 '.406',
 '.723',
 '103',
 '2190',
 '99',
 '98',
 '17',
 '49',
 '17',
 '1084',
 '55',
 '29.1',
 '4.53',
 '162',
 '6089',
 '5366',
 '734',
 '1288',
 '262',
 '24',
 '198',
 '700',
 '77',
 '19',
 '564',
 '1402',
 '.240',
 '.318',
 '.408',
 '.726',
 '95',
 '2192',
 '103',
 '67',
 '47',
 '43',
 '37',
 '1115',
 '64',
 '27.5',
 '3.76',
 '162',
 '5983',
 '5336',
 '609',
 '1261',
 '240',
 '35',
 '124',
 '570',
 '60',
 '30',
 '529',
 '1328',
 '.236',
 '.309',
 '.364',
 '.673',
 '82',
 '1943',
 '102',
 '49',
 '31',
 '37',
 '24',
 '1128',
 '54',
 '28.0',
 '4.50',
 '162',
 '6119',
 '5384',
 '729',
 '1305',
 '273',
 '21',
 '180',
 '695',
 '110',
 '39',
 '586',
 '1324',
 '.242',
 '.321',
 '.401',
 '.722',
 '101',
 '2160',
 '121',
 '61',
 '36',
 '46',
 '42',
 '1123',
 '63',
 '27.0',
 '4.30',
 '162',
 '6010',
 '5355',
 '697',
 '1209',
 '233',
 '11',
 '199',
 '673',
 '64',
 '24',
 '535',
 '1492',
 '.226',
 '.303',
 '.385',
 '.688',
 '92',
 '2061',
 '92',
 '72',
 '9',
 '36',
 '8',
 '1040',
 '54',
 '30.6',
 '4.96',
 '162',
 '6196',
 '5462',
 '804',
 '1360',
 '271',
 '25',
 '241',
 '768',
 '66',
 '14',
 '602',
 '1461',
 '.249',
 '.329',
 '.440',
 '.769',
 '106',
 '2404',
 '117',
 '64',
 '36',
 '30',
 '45',
 '1138',
 '51',
 '28.5',
 '4.36',
 '162',
 '6001',
 '5351',
 '706',
 '1303',
 '261',
 '22',
 '198',
 '678',
 '89',
 '22',
 '478',
 '1341',
 '.244',
 '.313',
 '.412',
 '.725',
 '99',
 '2202',
 '99',
 '86',
 '40',
 '44',
 '32',
 '1081',
 '61',
 '27.7',
 '5.29',
 '162',
 '6213',
 '5507',
 '857',
 '1336',
 '288',
 '36',
 '222',
 '810',
 '88',
 '42',
 '585',
 '1542',
 '.243',
 '.321',
 '.429',
 '.750',
 '110',
 '2362',
 '75',
 '72',
 '6',
 '41',
 '27',
 '1085',
 '54',
 '26.8',
 '3.86',
 '162',
 '5943',
 '5405',
 '625',
 '1254',
 '225',
 '24',
 '167',
 '598',
 '106',
 '29',
 '433',
 '1381',
 '.232',
 '.294',
 '.375',
 '.670',
 '83',
 '2028',
 '113',
 '58',
 '16',
 '31',
 '10',
 '1007',
 '62',
 '26.8',
 '5.22',
 '162',
 '6070',
 '5476',
 '846',
 '1455',
 '285',
 '13',
 '262',
 '816',
 '81',
 '20',
 '496',
 '1218',
 '.266',
 '.330',
 '.466',
 '.797',
 '113',
 '2552',
 '112',
 '51',
 '10',
 '35',
 '14',
 '1056',
 '60',
 '28.7',
 '4.47',
 '162',
 '6113',
 '5385',
 '724',
 '1388',
 '272',
 '20',
 '182',
 '686',
 '56',
 '26',
 '573',
 '1303',
 '.258',
 '.337',
 '.417',
 '.754',
 '108',
 '2246',
 '158',
 '84',
 '38',
 '31',
 '43',
 '1185',
 '50',
 '28.4',
 '4.53',
 '162',
 '6061',
 '5398',
 '734',
 '1316',
 '262',
 '22',
 '198',
 '700',
 '74',
 '24',
 '526',
 '1405',
 '.244',
 '.317',
 '.411',
 '.728',
 '97',
 '2217',
 '111',
 '70',
 '26',
 '38',
 '23',
 '1087',
 '1508',
 '28.4',
 '4.53',
 '4858',
 '181818',
 '161941',
 '22010',
 '39484',
 '7863',
 '671',
 '5944',
 '20993',
 '2213',
 '711',
 '15794',
 '42145',
 '.244',
 '.317',
 '.411',
 '.728',
 '97',
 '66521',
 '3328',
 '2112',
 '766',
 '1143',
 '703',
 '32601']

In [10]:
# size = 34*29
hitting_array = np.array(hitting_table_elements)

# First remove totals from end of data frame
hitting_array = hitting_array[0:958]
print(len(hitting_array))
print(hitting_array[957])
#hit_array

958
1087

In [11]:
#hitting_array

In [12]:
# Get column headings
headings = np.append(['Tm'], hitting_array[0:28])
headings

array(['Tm', '#Bat', 'BatAge', 'R/G', 'G', 'PA', 'AB', 'R', 'H', '2B',
       '3B', 'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'BA', 'OBP', 'SLG',
       'OPS', 'OPS+', 'TB', 'GDP', 'HBP', 'SH', 'SF', 'IBB', 'LOB'],
      dtype='<U21')

In [13]:
# Remove extra headings from start of array
hit_array = hitting_array[57:]
hit_array

array(['Arizona Diamondbacks', 'Atlanta Braves', 'Baltimore Orioles',
       'Boston Red Sox', 'Chicago Cubs', 'Chicago White Sox',
       'Cincinnati Reds', 'Cleveland Indians', 'Colorado Rockies',
       'Detroit Tigers', 'Houston Astros', 'Kansas City Royals',
       'Los Angeles Angels', 'Los Angeles Dodgers', 'Miami Marlins',
       'Milwaukee Brewers', 'Minnesota Twins', 'New York Mets',
       'New York Yankees', 'Oakland Athletics', 'Philadelphia Phillies',
       'Pittsburgh Pirates', 'San Diego Padres', 'Seattle Mariners',
       'San Francisco Giants', 'St. Louis Cardinals', 'Tampa Bay Rays',
       'Texas Rangers', 'Toronto Blue Jays', 'Washington Nationals',
       'League Average', '', 'Tm', '64', '28.9', '4.19', '162', '6144',
       '5489', '679', '1297', '308', '31', '144', '644', '43', '16',
       '537', '1465', '.236', '.309', '.382', '.692', '87', '2099', '99',
       '54', '32', '28', '24', '1152', '56', '28.2', '4.91', '161',
       '6056', '5363', '790', '1307', '269', '20', '239', '762', '59',
       '19', '549', '1453', '.244', '.319', '.435', '.754', '96', '2333',
       '81', '67', '32', '43', '36', '1072', '62', '26.7', '4.07', '162',
       '5983', '5420', '659', '1296', '266', '15', '195', '632', '54',
       '23', '451', '1454', '.239', '.304', '.402', '.705', '92', '2177',
       '105', '65', '14', '31', '12', '1046', '56', '28.0', '5.12', '162',
       '6122', '5495', '829', '1434', '330', '23', '219', '783', '40',
       '21', '512', '1386', '.261', '.328', '.449', '.777', '104', '2467',
       '100', '61', '10', '42', '22', '1093', '69', '29.1', '4.35', '162',
       '5972', '5306', '705', '1255', '225', '26', '210', '672', '86',
       '37', '502', '1596', '.237', '.312', '.407', '.719', '93', '2162',
       '133', '92', '40', '30', '17', '1019', '47', '28.0', '4.91', '162',
       '6084', '5357', '796', '1373', '275', '22', '190', '757', '57',
       '20', '586', '1389', '.256', '.336', '.422', '.758', '106', '2262',
       '139', '78', '24', '39', '10', '1125', '55', '28.9', '4.85', '162',
       '6162', '5423', '786', '1352', '295', '13', '222', '756', '36',
       '24', '553', '1425', '.249', '.328', '.431', '.759', '94', '2339',
       '129', '105', '35', '45', '22', '1110', '48', '26.7', '4.43',
       '162', '5907', '5332', '717', '1269', '248', '22', '203', '686',
       '109', '17', '453', '1387', '.238', '.303', '.407', '.710', '94',
       '2170', '105', '64', '20', '36', '18', '987', '45', '28.1', '4.59',
       '161', '6007', '5374', '739', '1338', '275', '34', '182', '709',
       '76', '23', '491', '1356', '.249', '.317', '.414', '.731', '87',
       '2227', '98', '58', '48', '36', '24', '1074', '49', '28.1', '4.30',
       '162', '5979', '5376', '697', '1299', '236', '37', '179', '675',
       '88', '25', '490', '1514', '.242', '.308', '.399', '.707', '95',
       '2146', '113', '44', '17', '50', '8', '1031', '52', '28.9', '5.33',
       '162', '6291', '5593', '863', '1496', '299', '14', '221', '834',
       '53', '16', '569', '1222', '.267', '.339', '.444', '.783', '113',
       '2486', '136', '64', '9', '54', '25', '1159', '48', '29.3', '4.23',
       '162', '5993', '5427', '686', '1349', '251', '29', '163', '647',
       '124', '33', '421', '1258', '.249', '.306', '.396', '.702', '90',
       '2147', '100', '55', '31', '52', '8', '1050', '64', '29.2', '4.46',
       '162', '6016', '5437', '723', '1331', '265', '23', '190', '691',
       '79', '26', '464', '1394', '.245', '.310', '.407', '.717', '94',
       '2212', '107', '59', '30', '25', '35', '1029', '61', '29.2',
       '5.12', '162', '6239', '5445', '830', '1330', '247', '24', '237',
       '799', '65', '17', '613', '1408', '.244', '.330', '.429', '.759',
       '101', '2336', '96', '104', '32', '45', '36', '1169', '61', '28.2',
       '3.85', '162', '5929', '5348', '623', '1244', '226', '23', '158',
       '594', '106', '29', '450', '1553', '.233', '.298', '.372', '.671',
       '81', '1990', '95', '65', '30', '30', '25', '1042', '61', '28.7',
       '4.56', '162', '6099', '5362', '738', '1251', '255', '18', '194',
       '700', '82', '21', '586', '1465', '.233', '.317', '.396', '.713',
       '91', '2124', '102', '88', '25', '35', '26', '1113', '57', '28.3',
       '4.50', '162', '6078', '5431', '729', '1311', '271', '17', '228',
       '690', '54', '15', '525', '1405', '.241', '.314', '.423', '.738',
       '104', '2300', '122', '70', '7', '42', '17', '1092', '64', '28.2',
       '3.93', '162', '5856', '5210', '636', '1243', '228', '18', '176',
       '604', '54', '26', '495', '1392', '.239', '.315', '.391', '.705',
       '92', '2035', '123', '94', '34', '23', '25', '1099', '59', '29.3',
       '4.39', '162', '6060', '5331', '711', '1266', '213', '12', '222',
       '666', '63', '18', '621', '1482', '.237', '.322', '.407', '.729',
       '101', '2169', '154', '63', '10', '34', '14', '1097', '50', '30.1',
       '4.59', '162', '6104', '5395', '743', '1284', '271', '19', '199',
       '698', '88', '20', '545', '1349', '.238', '.317', '.406', '.723',
       '103', '2190', '99', '98', '17', '49', '17', '1084', '55', '29.1',
       '4.53', '162', '6089', '5366', '734', '1288', '262', '24', '198',
       '700', '77', '19', '564', '1402', '.240', '.318', '.408', '.726',
       '95', '2192', '103', '67', '47', '43', '37', '1115', '64', '27.5',
       '3.76', '162', '5983', '5336', '609', '1261', '240', '35', '124',
       '570', '60', '30', '529', '1328', '.236', '.309', '.364', '.673',
       '82', '1943', '102', '49', '31', '37', '24', '1128', '54', '28.0',
       '4.50', '162', '6119', '5384', '729', '1305', '273', '21', '180',
       '695', '110', '39', '586', '1324', '.242', '.321', '.401', '.722',
       '101', '2160', '121', '61', '36', '46', '42', '1123', '63', '27.0',
       '4.30', '162', '6010', '5355', '697', '1209', '233', '11', '199',
       '673', '64', '24', '535', '1492', '.226', '.303', '.385', '.688',
       '92', '2061', '92', '72', '9', '36', '8', '1040', '54', '30.6',
       '4.96', '162', '6196', '5462', '804', '1360', '271', '25', '241',
       '768', '66', '14', '602', '1461', '.249', '.329', '.440', '.769',
       '106', '2404', '117', '64', '36', '30', '45', '1138', '51', '28.5',
       '4.36', '162', '6001', '5351', '706', '1303', '261', '22', '198',
       '678', '89', '22', '478', '1341', '.244', '.313', '.412', '.725',
       '99', '2202', '99', '86', '40', '44', '32', '1081', '61', '27.7',
       '5.29', '162', '6213', '5507', '857', '1336', '288', '36', '222',
       '810', '88', '42', '585', '1542', '.243', '.321', '.429', '.750',
       '110', '2362', '75', '72', '6', '41', '27', '1085', '54', '26.8',
       '3.86', '162', '5943', '5405', '625', '1254', '225', '24', '167',
       '598', '106', '29', '433', '1381', '.232', '.294', '.375', '.670',
       '83', '2028', '113', '58', '16', '31', '10', '1007', '62', '26.8',
       '5.22', '162', '6070', '5476', '846', '1455', '285', '13', '262',
       '816', '81', '20', '496', '1218', '.266', '.330', '.466', '.797',
       '113', '2552', '112', '51', '10', '35', '14', '1056', '60', '28.7',
       '4.47', '162', '6113', '5385', '724', '1388', '272', '20', '182',
       '686', '56', '26', '573', '1303', '.258', '.337', '.417', '.754',
       '108', '2246', '158', '84', '38', '31', '43', '1185', '50', '28.4',
       '4.53', '162', '6061', '5398', '734', '1316', '262', '22', '198',
       '700', '74', '24', '526', '1405', '.244', '.317', '.411', '.728',
       '97', '2217', '111', '70', '26', '38', '23', '1087'], dtype='<U21')

In [14]:
hit_array[29]

'Washington Nationals'

In [15]:
len(hit_array)

901

In [16]:
#teams = []
#count = 0
#for element in hit_array:
 #   if count%29 == 0:
 #       teams.append(element)
 #   count = count + 1
#teams = teams[:-2]

# IMPORTANT GO BACK
teams = hit_array[0:31]
teams
#raw_numbers = hit_array[33:]
#raw_numbers
#hit_array = np.append(teams,raw_numbers)
#hit_array = np.append(headings,hit_array)

array(['Arizona Diamondbacks', 'Atlanta Braves', 'Baltimore Orioles',
       'Boston Red Sox', 'Chicago Cubs', 'Chicago White Sox',
       'Cincinnati Reds', 'Cleveland Indians', 'Colorado Rockies',
       'Detroit Tigers', 'Houston Astros', 'Kansas City Royals',
       'Los Angeles Angels', 'Los Angeles Dodgers', 'Miami Marlins',
       'Milwaukee Brewers', 'Minnesota Twins', 'New York Mets',
       'New York Yankees', 'Oakland Athletics', 'Philadelphia Phillies',
       'Pittsburgh Pirates', 'San Diego Padres', 'Seattle Mariners',
       'San Francisco Giants', 'St. Louis Cardinals', 'Tampa Bay Rays',
       'Texas Rangers', 'Toronto Blue Jays', 'Washington Nationals',
       'League Average'], dtype='<U21')

In [17]:
#teams = np.array(teams)
#teams

In [18]:
raw_numbers = hit_array[33:]
hit_array = np.append(teams, raw_numbers)
hit_array = np.append(headings, hit_array)

In [19]:
hit_array

array(['Tm', '#Bat', 'BatAge', 'R/G', 'G', 'PA', 'AB', 'R', 'H', '2B',
       '3B', 'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'BA', 'OBP', 'SLG',
       'OPS', 'OPS+', 'TB', 'GDP', 'HBP', 'SH', 'SF', 'IBB', 'LOB',
       'Arizona Diamondbacks', 'Atlanta Braves', 'Baltimore Orioles',
       'Boston Red Sox', 'Chicago Cubs', 'Chicago White Sox',
       'Cincinnati Reds', 'Cleveland Indians', 'Colorado Rockies',
       'Detroit Tigers', 'Houston Astros', 'Kansas City Royals',
       'Los Angeles Angels', 'Los Angeles Dodgers', 'Miami Marlins',
       'Milwaukee Brewers', 'Minnesota Twins', 'New York Mets',
       'New York Yankees', 'Oakland Athletics', 'Philadelphia Phillies',
       'Pittsburgh Pirates', 'San Diego Padres', 'Seattle Mariners',
       'San Francisco Giants', 'St. Louis Cardinals', 'Tampa Bay Rays',
       'Texas Rangers', 'Toronto Blue Jays', 'Washington Nationals',
       'League Average', '64', '28.9', '4.19', '162', '6144', '5489',
       '679', '1297', '308', '31', '144', '644', '43', '16', '537',
       '1465', '.236', '.309', '.382', '.692', '87', '2099', '99', '54',
       '32', '28', '24', '1152', '56', '28.2', '4.91', '161', '6056',
       '5363', '790', '1307', '269', '20', '239', '762', '59', '19',
       '549', '1453', '.244', '.319', '.435', '.754', '96', '2333', '81',
       '67', '32', '43', '36', '1072', '62', '26.7', '4.07', '162',
       '5983', '5420', '659', '1296', '266', '15', '195', '632', '54',
       '23', '451', '1454', '.239', '.304', '.402', '.705', '92', '2177',
       '105', '65', '14', '31', '12', '1046', '56', '28.0', '5.12', '162',
       '6122', '5495', '829', '1434', '330', '23', '219', '783', '40',
       '21', '512', '1386', '.261', '.328', '.449', '.777', '104', '2467',
       '100', '61', '10', '42', '22', '1093', '69', '29.1', '4.35', '162',
       '5972', '5306', '705', '1255', '225', '26', '210', '672', '86',
       '37', '502', '1596', '.237', '.312', '.407', '.719', '93', '2162',
       '133', '92', '40', '30', '17', '1019', '47', '28.0', '4.91', '162',
       '6084', '5357', '796', '1373', '275', '22', '190', '757', '57',
       '20', '586', '1389', '.256', '.336', '.422', '.758', '106', '2262',
       '139', '78', '24', '39', '10', '1125', '55', '28.9', '4.85', '162',
       '6162', '5423', '786', '1352', '295', '13', '222', '756', '36',
       '24', '553', '1425', '.249', '.328', '.431', '.759', '94', '2339',
       '129', '105', '35', '45', '22', '1110', '48', '26.7', '4.43',
       '162', '5907', '5332', '717', '1269', '248', '22', '203', '686',
       '109', '17', '453', '1387', '.238', '.303', '.407', '.710', '94',
       '2170', '105', '64', '20', '36', '18', '987', '45', '28.1', '4.59',
       '161', '6007', '5374', '739', '1338', '275', '34', '182', '709',
       '76', '23', '491', '1356', '.249', '.317', '.414', '.731', '87',
       '2227', '98', '58', '48', '36', '24', '1074', '49', '28.1', '4.30',
       '162', '5979', '5376', '697', '1299', '236', '37', '179', '675',
       '88', '25', '490', '1514', '.242', '.308', '.399', '.707', '95',
       '2146', '113', '44', '17', '50', '8', '1031', '52', '28.9', '5.33',
       '162', '6291', '5593', '863', '1496', '299', '14', '221', '834',
       '53', '16', '569', '1222', '.267', '.339', '.444', '.783', '113',
       '2486', '136', '64', '9', '54', '25', '1159', '48', '29.3', '4.23',
       '162', '5993', '5427', '686', '1349', '251', '29', '163', '647',
       '124', '33', '421', '1258', '.249', '.306', '.396', '.702', '90',
       '2147', '100', '55', '31', '52', '8', '1050', '64', '29.2', '4.46',
       '162', '6016', '5437', '723', '1331', '265', '23', '190', '691',
       '79', '26', '464', '1394', '.245', '.310', '.407', '.717', '94',
       '2212', '107', '59', '30', '25', '35', '1029', '61', '29.2',
       '5.12', '162', '6239', '5445', '830', '1330', '247', '24', '237',
       '799', '65', '17', '613', '1408', '.244', '.330', '.429', '.759',
       '101', '2336', '96', '104', '32', '45', '36', '1169', '61', '28.2',
       '3.85', '162', '5929', '5348', '623', '1244', '226', '23', '158',
       '594', '106', '29', '450', '1553', '.233', '.298', '.372', '.671',
       '81', '1990', '95', '65', '30', '30', '25', '1042', '61', '28.7',
       '4.56', '162', '6099', '5362', '738', '1251', '255', '18', '194',
       '700', '82', '21', '586', '1465', '.233', '.317', '.396', '.713',
       '91', '2124', '102', '88', '25', '35', '26', '1113', '57', '28.3',
       '4.50', '162', '6078', '5431', '729', '1311', '271', '17', '228',
       '690', '54', '15', '525', '1405', '.241', '.314', '.423', '.738',
       '104', '2300', '122', '70', '7', '42', '17', '1092', '64', '28.2',
       '3.93', '162', '5856', '5210', '636', '1243', '228', '18', '176',
       '604', '54', '26', '495', '1392', '.239', '.315', '.391', '.705',
       '92', '2035', '123', '94', '34', '23', '25', '1099', '59', '29.3',
       '4.39', '162', '6060', '5331', '711', '1266', '213', '12', '222',
       '666', '63', '18', '621', '1482', '.237', '.322', '.407', '.729',
       '101', '2169', '154', '63', '10', '34', '14', '1097', '50', '30.1',
       '4.59', '162', '6104', '5395', '743', '1284', '271', '19', '199',
       '698', '88', '20', '545', '1349', '.238', '.317', '.406', '.723',
       '103', '2190', '99', '98', '17', '49', '17', '1084', '55', '29.1',
       '4.53', '162', '6089', '5366', '734', '1288', '262', '24', '198',
       '700', '77', '19', '564', '1402', '.240', '.318', '.408', '.726',
       '95', '2192', '103', '67', '47', '43', '37', '1115', '64', '27.5',
       '3.76', '162', '5983', '5336', '609', '1261', '240', '35', '124',
       '570', '60', '30', '529', '1328', '.236', '.309', '.364', '.673',
       '82', '1943', '102', '49', '31', '37', '24', '1128', '54', '28.0',
       '4.50', '162', '6119', '5384', '729', '1305', '273', '21', '180',
       '695', '110', '39', '586', '1324', '.242', '.321', '.401', '.722',
       '101', '2160', '121', '61', '36', '46', '42', '1123', '63', '27.0',
       '4.30', '162', '6010', '5355', '697', '1209', '233', '11', '199',
       '673', '64', '24', '535', '1492', '.226', '.303', '.385', '.688',
       '92', '2061', '92', '72', '9', '36', '8', '1040', '54', '30.6',
       '4.96', '162', '6196', '5462', '804', '1360', '271', '25', '241',
       '768', '66', '14', '602', '1461', '.249', '.329', '.440', '.769',
       '106', '2404', '117', '64', '36', '30', '45', '1138', '51', '28.5',
       '4.36', '162', '6001', '5351', '706', '1303', '261', '22', '198',
       '678', '89', '22', '478', '1341', '.244', '.313', '.412', '.725',
       '99', '2202', '99', '86', '40', '44', '32', '1081', '61', '27.7',
       '5.29', '162', '6213', '5507', '857', '1336', '288', '36', '222',
       '810', '88', '42', '585', '1542', '.243', '.321', '.429', '.750',
       '110', '2362', '75', '72', '6', '41', '27', '1085', '54', '26.8',
       '3.86', '162', '5943', '5405', '625', '1254', '225', '24', '167',
       '598', '106', '29', '433', '1381', '.232', '.294', '.375', '.670',
       '83', '2028', '113', '58', '16', '31', '10', '1007', '62', '26.8',
       '5.22', '162', '6070', '5476', '846', '1455', '285', '13', '262',
       '816', '81', '20', '496', '1218', '.266', '.330', '.466', '.797',
       '113', '2552', '112', '51', '10', '35', '14', '1056', '60', '28.7',
       '4.47', '162', '6113', '5385', '724', '1388', '272', '20', '182',
       '686', '56', '26', '573', '1303', '.258', '.337', '.417', '.754',
       '108', '2246', '158', '84', '38', '31', '43', '1185', '50', '28.4',
       '4.53', '162', '6061', '5398', '734', '1316', '262', '22', '198',
       '700', '74', '24', '526', '1405', '.244', '.317', '.411', '.728',
       '97', '2217', '111', '70', '26', '38', '23', '1087'], dtype='<U21')

In [20]:
len(hit_array)

928

In [21]:
# 31 x 29

hit_table = headings
start_pos = 0
end_pos = 28
raw_numbers[start_pos:end_pos]

raw_numbers[start_pos+28:end_pos+28]

for i in range(len(teams)):
  team_data = np.append(teams[i], raw_numbers[start_pos:end_pos])
  hit_table = np.append(hit_table, team_data)
  start_pos += 28
  end_pos += 28
len(hit_table)

928

In [24]:
hit_table = hit_table.reshape([32, 29])

#Generate Data Frame:
hitData = pd.DataFrame(hit_table, columns = headings)
hitData = hitData.drop(0, axis = 0)

hitData['Year'] = 2021

hitData = hitData.reindex(columns = np.append('Year', headings))

hitData

,Year,Tm,#Bat,BatAge,R/G,G,PA,AB,R,H,...,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB,LOB
1,2021,Arizona Diamondbacks,64,28.9,4.19,162,6144,5489,679,1297,...,.382,.692,87,2099,99,54,32,28,24,1152
2,2021,Atlanta Braves,56,28.2,4.91,161,6056,5363,790,1307,...,.435,.754,96,2333,81,67,32,43,36,1072
3,2021,Baltimore Orioles,62,26.7,4.07,162,5983,5420,659,1296,...,.402,.705,92,2177,105,65,14,31,12,1046
4,2021,Boston Red Sox,56,28.0,5.12,162,6122,5495,829,1434,...,.449,.777,104,2467,100,61,10,42,22,1093
5,2021,Chicago Cubs,69,29.1,4.35,162,5972,5306,705,1255,...,.407,.719,93,2162,133,92,40,30,17,1019
6,2021,Chicago White Sox,47,28.0,4.91,162,6084,5357,796,1373,...,.422,.758,106,2262,139,78,24,39,10,1125
7,2021,Cincinnati Reds,55,28.9,4.85,162,6162,5423,786,1352,...,.431,.759,94,2339,129,105,35,45,22,1110
8,2021,Cleveland Indians,48,26.7,4.43,162,5907,5332,717,1269,...,.407,.710,94,2170,105,64,20,36,18,987
9,2021,Colorado Rockies,45,28.1,4.59,161,6007,5374,739,1338,...,.414,.731,87,2227,98,58,48,36,24,1074
10,2021,Detroit Tigers,49,28.1,4.30,162,5979,5376,697,1299,...,.399,.707,95,2146,113,44,17,50,8,1031
11,2021,Houston Astros,52,28.9,5.33,162,6291,5593,863,1496,...,.444,.783,113,2486,136,64,9,54,25,1159
12,2021,Kansas City Royals,48,29.3,4.23,162,5993,5427,686,1349,...,.396,.702,90,2147,100,55,31,52,8,1050
13,2021,Los Angeles Angels,64,29.2,4.46,162,6016,5437,723,1331,...,.407,.717,94,2212,107,59,30,25,35,1029
14,2021,Los Angeles Dodgers,61,29.2,5.12,162,6239,5445,830,1330,...,.429,.759,101,2336,96,104,32,45,36,1169
15,2021,Miami Marlins,61,28.2,3.85,162,5929,5348,623,1244,...,.372,.671,81,1990,95,65,30,30,25,1042
16,2021,Milwaukee Brewers,61,28.7,4.56,162,6099,5362,738,1251,...,.396,.713,91,2124,102,88,25,35,26,1113
17,2021,Minnesota Twins,57,28.3,4.50,162,6078,5431,729,1311,...,.423,.738,104,2300,122,70,7,42,17,1092
18,2021,New York Mets,64,28.2,3.93,162,5856,5210,636,1243,...,.391,.705,92,2035,123,94,34,23,25,1099
19,2021,New York Yankees,59,29.3,4.39,162,6060,5331,711,1266,...,.407,.729,101,2169,154,63,10,34,14,1097
20,2021,Oakland Athletics,50,30.1,4.59,162,6104,5395,743,1284,...,.406,.723,103,2190,99,98,17,49,17,1084
21,2021,Philadelphia Phillies,55,29.1,4.53,162,6089,5366,734,1288,...,.408,.726,95,2192,103,67,47,43,37,1115
22,2021,Pittsburgh Pirates,64,27.5,3.76,162,5983,5336,609,1261,...,.364,.673,82,1943,102,49,31,37,24,1128
23,2021,San Diego Padres,54,28.0,4.50,162,6119,5384,729,1305,...,.401,.722,101,2160,121,61,36,46,42,1123
24,2021,Seattle Mariners,63,27.0,4.30,162,6010,5355,697,1209,...,.385,.688,92,2061,92,72,9,36,8,1040
25,2021,San Francisco Giants,54,30.6,4.96,162,6196,5462,804,1360,...,.440,.769,106,2404,117,64,36,30,45,1138
26,2021,St. Louis Cardinals,51,28.5,4.36,162,6001,5351,706,1303,...,.412,.725,99,2202,99,86,40,44,32,1081
27,2021,Tampa Bay Rays,61,27.7,5.29,162,6213,5507,857,1336,...,.429,.750,110,2362,75,72,6,41,27,1085
28,2021,Texas Rangers,54,26.8,3.86,162,5943,5405,625,1254,...,.375,.670,83,2028,113,58,16,31,10,1007
29,2021,Toronto Blue Jays,62,26.8,5.22,162,6070,5476,846,1455,...,.466,.797,113,2552,112,51,10,35,14,1056
30,2021,Washington Nationals,60,28.7,4.47,162,6113,5385,724,1388,...,.417,.754,108,2246,158,84,38,31,43,1185
31,2021,League Average,50,28.4,4.53,162,6061,5398,734,1316,...,.411,.728,97,2217,111,70,26,38,23,1087

In [29]:
def standardbattingwithyear(year):
  standard_request = requests.get(f"https://www.baseball-reference.com/leagues/majors/{year}-standard-batting.shtml")
  standard_soup = BeautifulSoup(standard_request.text)
  
  # html nodes
  first_table = standard_soup.select('#teams_standard_batting .center , #teams_standard_batting .left, #teams_standard_batting .right')

  hit_elements = []
  for element in first_table:
    hit_elements.append(element.text)


  hit_array = np.array(hit_elements)


  # First remove totals from end of data frame
  hit_array = hit_array[0:958]

  # Get column headings
  headings = np.append(['Tm'], hit_array[0:28])

  # Remove extra headings from start of array
  hit_array = hit_array[57:]
  teams = hit_array[0:31]

  raw_numbers = hit_array[33:]
  hit_array = np.append(teams, raw_numbers)

  hit_array = np.append(headings, hit_array)
  #print(len(hit_array))
  #print(hit_array)
  hit_table = headings
  start_pos = 0
  end_pos = 28
  raw_numbers[start_pos:end_pos]

  raw_numbers[start_pos+28:end_pos+28]

  for i in range(len(teams)):
    team_data = np.append(teams[i], raw_numbers[start_pos:end_pos])
    hit_table = np.append(hit_table, team_data)
    start_pos += 28
    end_pos += 28

  hit_table = hit_table.reshape([32, 29])

  #Generate Data Frame:
  hitData = pd.DataFrame(hit_table, columns = headings)
  hitData = hitData.drop(0, axis = 0)

  hitData['Year'] = year

  hitData = hitData.reindex(columns = np.append('Year', headings))

  return hitData

In [30]:
df = standardbattingwithyear(2018)
df

,Year,Tm,#Bat,BatAge,R/G,G,PA,AB,R,H,...,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB,LOB
1,2018,Arizona Diamondbacks,49,29.2,4.28,162,6157,5460,693,1283,...,.397,.707,86,2170,110,52,38,45,36,1086
2,2018,Atlanta Braves,58,27.3,4.69,162,6251,5582,759,1433,...,.417,.742,98,2330,99,66,49,43,53,1143
3,2018,Baltimore Orioles,56,28.4,3.84,162,6034,5507,622,1317,...,.391,.689,89,2153,132,57,13,35,19,1027
4,2018,Boston Red Sox,44,27.7,5.41,162,6302,5623,876,1509,...,.453,.792,112,2550,130,55,7,48,38,1124
5,2018,Chicago Cubs,50,27.2,4.67,163,6369,5624,761,1453,...,.410,.744,97,2308,107,78,40,46,67,1224
6,2018,Chicago White Sox,51,26.5,4.05,162,6071,5523,656,1332,...,.401,.703,93,2217,99,66,24,32,18,1050
7,2018,Cincinnati Reds,53,27.2,4.30,162,6240,5532,696,1404,...,.401,.729,95,2221,128,65,49,35,35,1179
8,2018,Cleveland Indians,49,29.4,5.05,162,6300,5595,818,1447,...,.434,.766,106,2430,98,80,25,44,32,1147
9,2018,Colorado Rockies,41,28.7,4.79,163,6178,5541,780,1418,...,.435,.757,90,2412,114,51,42,37,38,1067
10,2018,Detroit Tigers,49,27.9,3.89,162,6029,5494,630,1326,...,.380,.680,83,2085,110,52,15,40,18,1071
11,2018,Houston Astros,41,28.2,4.92,162,6146,5453,797,1390,...,.425,.754,106,2319,156,61,14,45,19,1052
12,2018,Kansas City Royals,49,28.6,3.94,162,6063,5505,638,1350,...,.392,.697,90,2156,123,67,24,40,13,1063
13,2018,Los Angeles Angels,60,29.6,4.45,162,6108,5472,721,1323,...,.413,.726,99,2260,111,73,7,39,38,1071
14,2018,Los Angeles Dodgers,52,28.1,4.93,163,6358,5572,804,1394,...,.442,.774,109,2461,119,61,39,39,47,1163
15,2018,Miami Marlins,51,27.5,3.66,161,6083,5488,589,1303,...,.357,.659,83,1957,119,73,32,31,26,1123
16,2018,Milwaukee Brewers,53,28.8,4.63,163,6210,5542,754,1398,...,.424,.747,99,2352,128,58,29,41,32,1106
17,2018,Minnesota Twins,54,28.2,4.56,162,6154,5526,738,1379,...,.405,.723,96,2238,89,37,19,38,25,1087
18,2018,New York Mets,56,28.3,4.17,162,6177,5468,676,1282,...,.389,.701,96,2125,116,73,28,42,36,1104
19,2018,New York Yankees,49,27.2,5.25,162,6271,5515,851,1374,...,.451,.781,112,2490,107,62,10,59,21,1100
20,2018,Oakland Athletics,53,28.0,5.02,162,6255,5579,813,1407,...,.439,.764,110,2450,136,76,6,44,18,1085
21,2018,Philadelphia Phillies,48,26.7,4.18,162,6136,5424,677,1270,...,.393,.707,89,2129,102,64,32,32,33,1120
22,2018,Pittsburgh Pirates,48,27.8,4.30,161,6066,5447,692,1381,...,.407,.725,98,2218,121,59,31,52,38,1071
23,2018,San Diego Padres,49,26.8,3.81,162,6059,5486,617,1289,...,.380,.677,88,2085,122,31,35,36,28,1028
24,2018,Seattle Mariners,53,29.8,4.18,162,6087,5513,677,1402,...,.408,.722,102,2250,128,70,29,41,17,1084
25,2018,San Francisco Giants,48,29.8,3.72,162,6113,5541,603,1324,...,.368,.667,85,2038,113,49,33,42,40,1101
26,2018,St. Louis Cardinals,49,28.0,4.69,162,6200,5498,759,1369,...,.409,.730,99,2250,92,80,46,48,40,1101
27,2018,Tampa Bay Rays,54,27.1,4.42,162,6195,5475,716,1415,...,.406,.740,105,2225,122,101,28,50,17,1156
28,2018,Texas Rangers,50,27.4,4.55,162,6163,5453,737,1308,...,.404,.722,89,2204,104,88,33,34,16,1093
29,2018,Toronto Blue Jays,63,28.9,4.38,162,6076,5477,709,1336,...,.427,.739,102,2339,118,58,5,37,15,1036
30,2018,Washington Nationals,53,27.6,4.76,162,6288,5517,771,1402,...,.419,.753,98,2309,104,59,41,40,56,1180
31,2018,League Average,46,28.1,4.45,162,6171,5514,721,1367,...,.409,.728,97,2258,115,64,27,41,31,1101

In [31]:
TeamStandardBattingDf=standardbattingwithyear(2001)

for year in range(2002,2022):
  TeamStandardBattingDf=pd.concat([TeamStandardBattingDf,standardbattingwithyear(year)])

In [32]:
TeamStandardBattingDf

,Year,Tm,#Bat,BatAge,R/G,G,PA,AB,R,H,...,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB,LOB
1,2001,Anaheim Angels,38,27.9,4.27,162,6226,5551,691,1447,...,.405,.732,91,2248,109,77,46,53,34,1203
2,2001,Arizona Diamondbacks,47,31.9,5.05,162,6349,5595,818,1494,...,.442,.783,94,2472,105,57,71,36,73,1183
3,2001,Atlanta Braves,47,30.4,4.50,162,6152,5498,729,1432,...,.412,.736,87,2265,132,45,64,52,51,1095
4,2001,Baltimore Orioles,46,30.2,4.24,162,6151,5472,687,1359,...,.380,.699,88,2077,121,77,38,49,26,1106
5,2001,Boston Red Sox,48,30.0,4.80,161,6264,5605,772,1493,...,.439,.773,101,2461,132,70,28,41,50,1161
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27,2021,Tampa Bay Rays,61,27.7,5.29,162,6213,5507,857,1336,...,.429,.750,110,2362,75,72,6,41,27,1085
28,2021,Texas Rangers,54,26.8,3.86,162,5943,5405,625,1254,...,.375,.670,83,2028,113,58,16,31,10,1007
29,2021,Toronto Blue Jays,62,26.8,5.22,162,6070,5476,846,1455,...,.466,.797,113,2552,112,51,10,35,14,1056
30,2021,Washington Nationals,60,28.7,4.47,162,6113,5385,724,1388,...,.417,.754,108,2246,158,84,38,31,43,1185
31,2021,League Average,50,28.4,4.53,162,6061,5398,734,1316,...,.411,.728,97,2217,111,70,26,38,23,1087

# Adding the postseason column

In [33]:
postseason_Request = requests.get('https://www.baseball-reference.com/postseason/') # request of the playoff team web page

In [34]:
postseason_soup = BeautifulSoup(postseason_Request.text) # turning the request into a BeautifulSoup object
postseason_data = postseason_soup.select('#postseason_series a') # using the proper HTML node to get the year and all the playoff teams

In [35]:
starting_pos = 0 
ending_pos = 3
index_names = ['Year', 'Winner', 'Loser']
Post_Teams = pd.DataFrame(columns=index_names)


# loop to make the data frame row by row
for series in range(1, 181):  # there were 180 different playoff series between 2000 and 2021
    post_series_list = []
    for entry in postseason_data[starting_pos:ending_pos]: # starting and ending are 0 and 3 because each row consists of only 3 values
        post_series_list.append(entry.text)
    post_series_Series = pd.Series(post_series_list, index=index_names) # create a pandas Series from the list containing the 3 values and make the index the same as the DataFrame col names
    Post_Teams = Post_Teams.append(post_series_Series, ignore_index=True) # add the Series as a row to the DataFrame (we can do this b/c the index matches the col names)
    starting_pos += 3 # increase the starting and ending values by 3 so that the next iteration will grab the next 3 values 
    ending_pos += 3
Post_Teams # what the loop created

,Year,Winner,Loser
0,2021 World Series,"Atlanta Braves (88-73, NL)","Houston Astros (95-67, AL)"
1,2021 ALCS,"Houston Astros (95-67, AL)","Boston Red Sox* (92-70, AL)"
2,2021 NLCS,"Atlanta Braves (88-73, NL)","Los Angeles Dodgers* (106-56, NL)"
3,2021 ALDS1,"Houston Astros (95-67, AL)","Chicago White Sox (93-69, AL)"
4,2021 ALDS2,"Boston Red Sox* (92-70, AL)","Tampa Bay Rays (100-62, AL)"
...,...,...,...
175,2000 NLCS,"New York Mets* (94-68, NL)","St. Louis Cardinals (95-67, NL)"
176,2000 ALDS1,"New York Yankees (87-74, AL)","Oakland Athletics (91-70, AL)"
177,2000 ALDS2,"Seattle Mariners* (91-71, AL)","Chicago White Sox (95-67, AL)"
178,2000 NLDS1,"St. Louis Cardinals (95-67, NL)","Atlanta Braves (95-67, NL)"
179,2000 NLDS2,"New York Mets* (94-68, NL)","San Francisco Giants (97-65, NL)"

In [36]:
# Using regular expressions to clean up each column to only what we want
Post_Teams.Year = Post_Teams.Year.str.extract('(\d{4})+') # there should be 4 digits then more characters after that; only take the 4 digits
Post_Teams.Year = Post_Teams.Year.astype('int') # make the year column type integer (not type float)
Post_Teams.Winner = Post_Teams.Winner.str.extract('([\w\s]+\.?[\w\s]+)\*? \(') # there should be letter characters, maybe a ".", more letter characters, maybe a "*", then a "("; grab everything before the "*" or the "(", whichever of those comes first
Post_Teams.Loser = Post_Teams.Loser.str.extract('([\w\s]+\.?[\w\s]+)\*? \(') # there should be letter characters, maybe a ".", more letter characters, maybe a "*", then a "("; grab everything before the "*" or the "(", whichever of those comes first
Post_Teams # new DataFrame with cleaned columns

     Year               Winner                 Loser
0    2021       Atlanta Braves        Houston Astros
1    2021       Houston Astros        Boston Red Sox
2    2021       Atlanta Braves   Los Angeles Dodgers
3    2021       Houston Astros     Chicago White Sox
4    2021       Boston Red Sox        Tampa Bay Rays
..    ...                  ...                   ...
175  2000        New York Mets   St. Louis Cardinals
176  2000     New York Yankees     Oakland Athletics
177  2000     Seattle Mariners     Chicago White Sox
178  2000  St. Louis Cardinals        Atlanta Braves
179  2000        New York Mets  San Francisco Giants

[180 rows x 3 columns]

In [37]:
playoff_col = []
for year in range(2000, 2022):
  Post_Teams_from_year = Post_Teams.loc[Post_Teams.Year == year, ]
  unique_Post_Teams_from_year = pd.concat([Post_Teams_from_year.Winner, Post_Teams_from_year.Loser]).unique()
  unique_Post_Teams_from_year = list(unique_Post_Teams_from_year)
  teams_from_year = TeamStandardBattingDf.loc[TeamStandardBattingDf.Year == year, 'Tm']

  for team in teams_from_year:
    if team in unique_Post_Teams_from_year:
      playoff_col.append(1)
    else:
      playoff_col.append(0)

In [38]:
TeamStandardBattingDf['Playoff'] = playoff_col
TeamStandardBattingDf

,Year,Tm,#Bat,BatAge,R/G,G,PA,AB,R,H,...,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB,LOB,Playoff
1,2001,Anaheim Angels,38,27.9,4.27,162,6226,5551,691,1447,...,.732,91,2248,109,77,46,53,34,1203,0
2,2001,Arizona Diamondbacks,47,31.9,5.05,162,6349,5595,818,1494,...,.783,94,2472,105,57,71,36,73,1183,1
3,2001,Atlanta Braves,47,30.4,4.50,162,6152,5498,729,1432,...,.736,87,2265,132,45,64,52,51,1095,1
4,2001,Baltimore Orioles,46,30.2,4.24,162,6151,5472,687,1359,...,.699,88,2077,121,77,38,49,26,1106,0
5,2001,Boston Red Sox,48,30.0,4.80,161,6264,5605,772,1493,...,.773,101,2461,132,70,28,41,50,1161,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27,2021,Tampa Bay Rays,61,27.7,5.29,162,6213,5507,857,1336,...,.750,110,2362,75,72,6,41,27,1085,1
28,2021,Texas Rangers,54,26.8,3.86,162,5943,5405,625,1254,...,.670,83,2028,113,58,16,31,10,1007,0
29,2021,Toronto Blue Jays,62,26.8,5.22,162,6070,5476,846,1455,...,.797,113,2552,112,51,10,35,14,1056,0
30,2021,Washington Nationals,60,28.7,4.47,162,6113,5385,724,1388,...,.754,108,2246,158,84,38,31,43,1185,0
31,2021,League Average,50,28.4,4.53,162,6061,5398,734,1316,...,.728,97,2217,111,70,26,38,23,1087,0

In [39]:
# Convert object columns to numeric
numeric_columns = list(TeamStandardBattingDf.columns[2:24])


for column in numeric_columns:
  TeamStandardBattingDf[column] = pd.to_numeric(TeamStandardBattingDf[column], errors = 'coerce')

TeamStandardBattingDf

,Year,Tm,#Bat,BatAge,R/G,G,PA,AB,R,H,...,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB,LOB,Playoff
1,2001,Anaheim Angels,38,27.9,4.27,162,6226,5551,691,1447,...,0.732,91,2248,109,77,46,53,34,1203,0
2,2001,Arizona Diamondbacks,47,31.9,5.05,162,6349,5595,818,1494,...,0.783,94,2472,105,57,71,36,73,1183,1
3,2001,Atlanta Braves,47,30.4,4.50,162,6152,5498,729,1432,...,0.736,87,2265,132,45,64,52,51,1095,1
4,2001,Baltimore Orioles,46,30.2,4.24,162,6151,5472,687,1359,...,0.699,88,2077,121,77,38,49,26,1106,0
5,2001,Boston Red Sox,48,30.0,4.80,161,6264,5605,772,1493,...,0.773,101,2461,132,70,28,41,50,1161,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27,2021,Tampa Bay Rays,61,27.7,5.29,162,6213,5507,857,1336,...,0.750,110,2362,75,72,6,41,27,1085,1
28,2021,Texas Rangers,54,26.8,3.86,162,5943,5405,625,1254,...,0.670,83,2028,113,58,16,31,10,1007,0
29,2021,Toronto Blue Jays,62,26.8,5.22,162,6070,5476,846,1455,...,0.797,113,2552,112,51,10,35,14,1056,0
30,2021,Washington Nationals,60,28.7,4.47,162,6113,5385,724,1388,...,0.754,108,2246,158,84,38,31,43,1185,0
31,2021,League Average,50,28.4,4.53,162,6061,5398,734,1316,...,0.728,97,2217,111,70,26,38,23,1087,0

In [40]:
TeamStandardBattingDf.to_csv('standardbatting.csv', index=False)

# New Section